header {
    background: #081c24;
    padding: 10px 15px;

    .logo {
        width: 81px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }

    h1 {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        margin-left: 15px;
    }
}